[Unit]
Description=Sortd daemon %i
PartOf=sortd@.socket
After=network.target

[Service]
WorkingDirectory=/usr/local/sortd
DynamicUser=yes
ExecStart=venv/bin/python3 -m sortd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
